* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 10px;
  margin-bottom: 100px;
  scroll-behavior: smooth;
  font-size:  1.5rem;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
